/* * {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.ui.cards > .card > .image {
  height: 250px;
  padding: 20px;
  background: #fff;
  margin: auto;
}
.ui.cards > .card > .image > img {
  height: 100%;
  max-width: 100%;
  width: auto;
}
.ui.cards > .card > .content > .header {
  height: 48px;
  overflow: hidden;
  margin-bottom: 5px;
}
.ui.cards > .card > .content > .description {
  height: 36px;
  margin-bottom: 0px;
  overflow: hidden;
}
.ui.cards > .card .meta.price {
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

.ui.cards > .card .meta.price > a {
  font-size: 1.3rem;
  color: #222;
}

.ui.menu.fixed {
  height: 60px;
  padding-top: 15px;
}

.ui.grid.container {
  margin-top: 45px;
}

.ui.grid > .row {
  background: #fff;
}
.ui.grid > .row > .column.lp {
  padding: 20px 40px 20px 20px;
  align-self: flex-start !important;
}
.ui.grid > .row > .column.rp {
  padding: 20px 20px 20px 40px;
  text-align: left;
  align-self: flex-start !important;
}

.ui.grid > .row > .column > img,
.ui.grid > .row > img {
  height: 100%;
}
.ui.placeholder .header:not(:first-child):before,
.ui.placeholder .image:not(:first-child):before,
.ui.placeholder .paragraph:not(:first-child):before {
  display: none;
}

.ui.label,
.ui.labels .label {
  font-size: 22px;
}

.column.rp h1 {
  color: #333;
}
.column.rp p {
  font-size: 18px;
  color: #777;
}
.ui.placeholder.segment .column .button,
.ui.placeholder.segment .column .field,
.ui.placeholder.segment .column textarea,
.ui.placeholder.segment .column > .ui.input {
  background-color: #ff3e6c;
  border: 1px solid #ff3e6c;
  color: #fff;
  font-size: 18px;
  margin-left: 0;
} */
/* .wide{
  margin: 10vh auto;
} */
.cards-grid{
  width: 90vw;
  margin: 10vh auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) );
  gap: 30px;
}
.carrds{
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);  
}
.carrds *{
  margin-top: 10px;
  color: black;
}
.carrds-title h2{
  font-weight: normal;
}
.carrds-img{
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  height: 250px;
  width: 250px;
  overflow: hidden;
  /* border: 1px solid black; */

}
.carrds-img img{
  height: 250px;
  width: 250px;

}

/* Product Details */
.det-grids{
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(800px, 1fr));
  margin: 10vh auto;
width: 90vw;
}
.det-grid{
  display: grid;
  /* text-align: center; */
  /* border: 1px solid black; */
}

.det-grid1{
  /* border: 1px solid black; */
  text-align: center;
}
.det-grid11{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
gap: 30px;
/* justify-content: space-evenly; */
}
.det-grid1 button{
  /* margin: 5vh auto; */
  padding: 15px;
  border: none;
  border-radius: 7px;
  background-color: #022243;
  color: white;
  font-weight: bold;

}
.det-img{
  margin: 10vh auto;
  
}
.det-img img{
width: 600px;
height: 300px;
}
/* .det-title{
  text-align: center;
} */
.det-title{
  text-align: start;
}
.det-description{
  /* width: 75vw; */
  margin: 5vh auto;
}

@media screen and (max-width:1000px){
  .det-grids{
    grid-template-columns: none;
    grid-template-rows: repeat(auto-fit, minmax(800px, 1fr));
  }
  .det-grid11{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr) );
  }
  .det-img img{
    width: 500px;
    height: 250px;
    }
  }
  @media screen and (max-width:600px){
    .det-img img{
      width: 350px;
      height: 160px;
      }
  
  }